PREDICTOR_URL=http://localhost:8000/scale

# Docker parameters
IMAGE_NAME=example-server:latest
CONTAINER_PREFIX=nextcast-example

# Scaling parameters
MIN_REPLICAS=1
MAX_REPLICAS=10
PORT_BASE=18080
SCALE_UP_STEP=2
SCALE_DOWN_STEP=1
TARGET_PER_NODE=65.0
SYSTEM_ID=0

# Monitoring parameters
CHECK_INTERVAL=20s
COOLDOWN=60s

# External Nodes (separate with commas)
PUPPETS=localhost:2375,remotehost:2375