PREDICTOR_URL=http://localhost:8000/scale

# Cluster parameters
# https://it-tools.tech/token-generator (Length: 64, Type: Uppercase, Lowercase, Numbers)
SELF_ADDR=127.0.0.1:8081
CLUSTER_TOKEN=change-me
SERVICES_FILE=services.yaml

# Monitoring parameters
CHECK_INTERVAL=20s
COOLDOWN=60s

# Peer autoscalers (separate with commas)
PUPPETS=127.0.0.1:8081,127.0.0.1:8082
